* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slideshow {
  width: 100%;
  height: 1000px;
  position: relative;
}

.slideshow__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide {
  /* position: relative; */
}

.slide__element {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slide__element.rotating {
  animation-name: rotateSlide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide__image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.slide__1 {
  z-index: 1;
  background: green;
  animation-delay: 0.2s;
}

.slide__2 {
  z-index: 2;
  background: blue;
  clip-path: circle(50%);
  animation-delay: 0.1s;
}

/* make it darker */
.slide__2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* black with 30% opacity */
}

.slide__3 {
  z-index: 3;
  background: red;
  clip-path: circle(30%);
}

@keyframes rotateSlide {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
